.carousel {
    width: 70vw;
    margin-top: 60px;
    margin-left: 15%;
}

.carousel-container {
    display: flex;
    width: 80vw;
}

.carousel-item {
    width: 200px;
    outline : none;
    text-decoration: none;
}

.carousel-item-text-container {
    text-align: center; 
    width: 200px;
    margin-top: 5px;
}

.carousel-item-image {
    width: 210px;
    height: 300px;
    align-self: center;
    border-radius: 2em;
}

.carousel-title {
    width: 300px; 
    text-align: start;
    font-size: 25px;
    font-weight: bold;
}

.carousel-nav {
    outline : none;
    text-decoration: none;
    color: black;
    background-color: grey;
}

.carousel-button {
    width: 60px;
    height: 60px; 
    margin-right: 20px; 
    margin-top: 110px;
    border-radius: 50%;
    outline : none;
    text-decoration: none;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.carousel-button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.carousel-button:active {
	position:relative;
	top:1px;
}

@media screen and (max-width: 420px) {
    .carousel {
        max-width: 80vw;
    }

    .carousel-title {
        margin-left: 20px;    
    }

    .carousel-item {
        margin-left: 10px;
        max-width: 180px;
    }

    .carousel-container {
        width: 140vw;
    }

    .carousel-button {
        margin-right: 0px;
        width: 40px;
        height: 40px; 
        font-size: 1.2em;
    }

    .carousel-item {
        width: 180px;
    }
    .carousel-item-image {
        width: 180px;
        height: 250px;
    }

    .carousel-item-text-container {
        width: 180px;  
    }
}