.content-info-background {
    height: 550px;
    background-size: cover;
}

.content-info-container {
    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: center;
    background: rgb(0, 0, 0, 0.5);
}

.content-info-image {
    width: 280px; 
    height: 400px;
    margin-left: 200px;
    margin-top: 50px;
}

.content-info-text {
    display: block;
    width: 60%;
    margin-left: 30px;
    flex-direction: column;
    text-align: start; 
    color: white;
    margin-top: 50px;
}

.content-info-title {
    font-size: 40px;
    font-weight: bold;
}

.content-info-tagline {
    font-style: italic;
    font-size: 18px;
}

.content-info-description {
    font-size: 16px;
    line-height: 1.4;
}

.content-info-cast-title {
    width: 300px; 
    text-align: start;
    font-size: 25px;
    font-weight: bold;
}