.detail-video {
    margin-top: 5vh; 
    margin-left: 5vw;
}

.detail-video-title {
    margin-top: 10vh;
    text-align: start;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15vw;
}

@media screen and (max-width: 420px) {
    .detail-video {
        margin-left: -4vw;
    }

    .detail-video-title {
        margin-left: 10vw;  
    }
}