.detail-video {
    margin-top: 5vh; 
    margin-left: 15%;
    display: flex;
    justify-content: flex-start;
}

.detail-video-title {
    margin-top: 10vh;
    text-align: start;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15vw;
}

@media screen and (max-width: 1280px) {
  .detail-video {
    margin-left: 5%;  
  }

  .detail-video-title {
      margin-left: 10vw;  
  }
}