/* Hero styles */
.hero-background {
    height: 600px;
    margin-top: 0px;
    background-size: cover;
}

.hero-opacity {
    background: rgb(0, 0, 0, 0.3);
    height: 600px;
}

.hero-content-container {
    font-size: 2em;
    padding-top: 120px;
    width: 400px;
    margin-left: 14vw;
}

.hero-text {
    text-align: start; 
    color: white;
    font-weight: bold;
    max-width: 90vw;
}

.hero-search-container {
    margin-top: 70px;
    width: 100px;
}

@media screen and (max-width: 500px) {
  .hero-content-container {
      max-width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .hero-content-container {
      font-size: 0.9em;
      max-width: 60vw;
  }
}

@media screen and (max-width: 1023px) {
    .hero-background {
        height: 500px;
    }

    .hero-opacity {
        height: 500px;
    }

    .hero-content-container {
        font-size: 1.2em;
        margin-left: 20px;
    }

    .hero-search-container {
        width: 300px;
    }
}