/* Hero styles */
.hero-background {
    width: 100vw;
    height: 600px;
    margin-top: 0px;
    background-size: cover;
    align-content: center;
}

.hero-opacity {
    background: rgb(0, 0, 0, 0.3);
    height: 600px;
}

.hero-content-container {
    font-size: 2em;
    padding-top: 120px;
    width: fit-content;    
    align-items: flex-start;
    margin-left: 14vw;
}

.hero-text {
    text-align: start; 
    color: white;
    font-weight: bold;
}

.hero-search-container {
    margin-top: 70px;
    width: 100px;
}

@media screen and (max-width: 508px) {
    .hero-background {
        height: 500px;
    }

    .hero-opacity {
        height: 500px;
    }

    .hero-content-container {
        font-size: 1.3em;
        margin-left: 10px;
    }

    .hero-search-container {
        width: 60vw;
    }
}