/* List Card Styles */

.list-card-background {
    height: 500px;
    width: 300px; 
    background-color: grey; 
}

.list-card {
    height: 300px;
    width: 200px; 
    display: flex;
    justify-content: space-between;
    align-self: center; 
}

.list-card-description {
    margin-left: 10px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}

.list-card-title {
    width: 200px;
    font-weight: bold;
    margin-top: 10px;
}

/* List Styles */

.list {
    width: 150vh;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 15px;
    grid-row-gap: 110px;
    justify-content: center;
    align-content: space-between;
    align-self: center;
    margin-top: 60px;
}