/* List Card Styles */

.list-card-background {
    width: 300px; 
    height: 500px;
    background-color: grey; 
}

.list-card, .list-card-carousel {
    width: 220px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    justify-content: center;
    align-self: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.5em;
}

.list-card-image, .list-card-carousel-image {
    min-height: 300px;
    max-height: 400px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: rgb(150, 147, 147); 
}

.list-card-description {
    text-align: center;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.list-card-title {
    font-weight: bold;
    margin-top: 1.5vh;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* List Styles */

.list {
    width: 80vw;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15vh;
    justify-content: center;
    padding-top: 20vh;
}

.list-search-container {
    margin-top: 5vh;
    margin-left: 15vw;
}

@media screen and (max-width: 580px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20vh;
    margin-left: 20%;
  }
}

@media screen and (max-width: 900px) {
  .list {
    margin-left: 15%;
  }
}

@media screen and (min-width: 580px) and (max-width: 1280px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20vh;
        margin-left: 10%;
    }

    .list-search-container {
        margin-left: 6vw;
    }

    .list-card-title {
        -webkit-line-clamp: 1;
    }

    .list-card-carousel {
        width: 180px; 
        height: 300px;
    }

    .list-card-carousel-image {
        min-height: 260px;
        max-height: 300px;
    }
}